<app-header></app-header>

<!------------------>
<button (click)="sidenav.toggle()" mat-button>Toggle sidenav</button>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    Side nav
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <div class="left-column" fxFlex="1 1 40" fxLayout="column" fxLayoutGap="10px">
      <app-tutor-card *ngFor="let tutor of tutorListService.getTutors()" [tutor]="tutor"></app-tutor-card>
    </div>
    <div class="right-column" fxFlex="1 1 40">Cico</div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
