<div class="main-content" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <div class="left-column" fxFlex="1 1 45" fxLayout="column" fxLayoutGap="10px">
    <div class="filters" fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>Materie</mat-label>
        <mat-select>
          <mat-option>Toate materiile</mat-option>
          <mat-option value="Matematica">Matematica</mat-option>
          <mat-option value="Informatica">Informatica</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Judet</mat-label>
        <mat-select>
          <mat-option>Toate judetele</mat-option>
          <mat-option value="Bucuresti">Bucuresti</mat-option>
          <mat-option value="Arges">Arges</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-tutor-card *ngFor="let tutor of tutorListService.getTutors()" [tutor]="tutor"></app-tutor-card>
  </div>
  <div class="right-column sticky" fxFlex="1 1 45">
      <router-outlet></router-outlet>
  </div>
</div>
