.main-content {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  overflow: auto;
}

.main-content .left-column {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 45%;
}

.main-content .right-column {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 45%;
  align-self: flex-start;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
