<mat-card fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <div fxFlex="1 1 150px">
    <img [src]="tutor.image" style="background-color: #363999" width="100%"/>
  </div>

  <mat-card-content fxFlex="1 1 100">
    <h2>{{tutor.name}}</h2>
    <h4>{{tutor.subjects}}</h4>
    <div>
      {{tutor.description}}
    </div>
  </mat-card-content>

  <div fxFlex="1 0 170px" fxLayout="column" fxLayoutGap="10px">
    <div>
      <div class="center-text" fxFlex="0 0 100" fxLayout="row" fxLayoutGap="5px">
        <div class="tutor-reviews-summary" fxFlex="1 1 40" fxLayout="column">
          <div class="stars"><i class="fa fa-star"></i> <br/> {{tutor.stars}} / 5</div>

        </div>
        <div class="tutor-pricing" fxFlex="1 1 60" fxLayout="column">
          <div class="price">{{tutor.session.price}} ron</div>
          <div class="time">{{tutor.session.duration}} ore</div>
        </div>
      </div>
    </div>
    <div>
      <button color="primary" fxFlex="1 1 100" mat-raised-button [routerLink]="['overview', tutor.id]">Contact</button>
    </div>
    <div>
      <a color="accent" fxFlex="1 1 100" mat-stroked-button>Aprecieri</a>
    </div>
  </div>
</mat-card>
