app-tutor-card {

}

.tutor-pricing {
  font-size: 15px;
  padding: 5px;
}

.tutor-pricing .price {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
}

.tutor-pricing .time {
  font-weight: bold;
  font-size: 1em;
  line-height: 2em;
}

.tutor-reviews-summary {
  justify-content: center;
  font-size: 15px;
  padding: 5px;
}

.tutor-reviews-summary .stars {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2em;
}

.fa-star {
  color: #ffa745
}

img.tutor-image {
  background-color: #363999;
  max-width: 150px;
  max-height: 150px;
}

.tutor-description {
  text-align: justify;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  white-space: pre-wrap;
}
