app-tutor-card {

}

.tutor-pricing {
  font-size: 15px;
  padding: 5px;
}

.tutor-pricing .price {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
}

.tutor-pricing .time {
  font-weight: bold;
  font-size:1em;
  line-height: 2em;
}

.tutor-reviews-summary {
  justify-content: center;
  font-size: 15px;
  padding: 5px;
}

.tutor-reviews-summary .stars {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2em;
}

.fa-star {
  color: #ffa745
}
