<mat-card color="primary" fxFlex="1 1 100" fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="1 1 20">
    <img [src]="tutor.image" style="background-color: #363999" width="100%"/>
  </div>
  <mat-card-content fxFlex="1 1 60">
    <h2>{{tutor.name}}</h2>
    <h4>{{tutor.subjects}}</h4>
    <div>
      {{tutor.description}}
    </div>
  </mat-card-content>
  <div fxFlex="1 0 200px" fxLayout="column" fxLayoutGap="10px">
    <div>
      <div class="center-text" fxFlex="0 0 100" fxLayout="row" fxLayoutGap="5px">
        <div class="tutor-reviews-summary" fxFlex="1 1 40" fxLayout="column">
          <div class="stars"><i class="fa fa-star"></i> <br/> 5 / 5</div>

        </div>
        <div class="tutor-pricing" fxFlex="1 1 60" fxLayout="column">
          <div class="price">{{tutor.price}} ron</div>
          <div class="time">2 ore</div>
        </div>
      </div>
    </div>
    <div>
      <button color="primary" fxFlex="1 1 100" mat-raised-button>Contact</button>
    </div>
    <div>
      <a fxFlex="1 1 100" mat-stroked-button color="accent">Aprecieri</a>
    </div>
  </div>
</mat-card>
