<div class="main-content" fxLayout="row" fxLayoutAlign="center">
  <div class="one-column" fxFlex="1 1" fxLayoutGap="40px">
    <div class="left-column" fxFlex="0 0 150px">
      <img [src]="tutor.image" width="100%"/>
    </div>
    <div class="right-column" fxFlex="1 1" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>Nume</mat-label>
        <input [value]="tutor.name" matInput/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Numar de telefon</mat-label>
        <input [value]="tutor.phoneNumber" matInput/>
      </mat-form-field>

      <div fxLayoutGap="10px">
        <mat-form-field class="tutor-session-price">
          <mat-label>Pret</mat-label>
          <input [value]="tutor.session.price" matInput/>
          <div matSuffix>RON</div>
        </mat-form-field>

        <mat-form-field class="tutor-session-duration">
          <mat-label>Durata sedinta</mat-label>
          <input [value]="tutor.session.duration" matInput/>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Locatie</mat-label>
        <input [value]="tutor.county" matInput/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Desfasure</mat-label>
        <mat-select multiple="true">
          <mat-option>Online</mat-option>
          <mat-option>La domiciliul studentului</mat-option>
          <mat-option>La domiciliul tutorelui</mat-option>
          <mat-option>La centrul de meditatii</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Desfasure</mat-label>
        <mat-select multiple="true">
          <mat-option>Clasele I-IV</mat-option>
          <mat-option>Clasele V-VIII</mat-option>
          <mat-option>Liceu</mat-option>
          <mat-option>Facultate</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descriere</mat-label>
        <textarea [value]="tutor.description" matInput rows="10"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
