<div class="main-content" fxLayoutAlign="center" fxLayoutGap="30px" fxLayout="row">
  <div class="left-column" fxFlex="0 1 150px">
    <img [src]="tutor.image" width="100%"/>
  </div>
  <div class="right-column" fxFlex="1 1 40" fxLayout="column">
    <mat-form-field>
      <mat-label>Nume</mat-label>
      <input matInput [value]="tutor.name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Locatie</mat-label>
      <input matInput  [value]="tutor.county" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numar de telefon</mat-label>
      <input matInput  [value]="tutor.phoneNumber" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descriere</mat-label>
      <textarea matInput  [value]="tutor.description"></textarea>
    </mat-form-field>
  </div>
</div>
