@import '~@angular/material/theming';

@mixin nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Define any styles affected by the theme.
  nav {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
}
