<nav class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <div fxFlex="1 1 40">
    <a [routerLink]="['/']" class="logo" mat-button>notamare.ro</a>
    <a [routerLink]="['/tutors']" mat-button>Gaseste tutore</a>
  </div>
  <div fxFlex="1 1 40" fxLayoutAlign="end">
    <a [routerLink]="['/']" mat-raised-button>Posteaza anunt</a>
    <a [routerLink]="['/']" mat-button>Autentificare</a>
    <a [routerLink]="['/profile']" mat-button>Profilul meu</a>
  </div>
</nav>
