<nav class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="1 1 40">
    <a [routerLink]="['/']" class="logo" mat-button>notamare.ro</a>
    <a [routerLink]="['/tutors']" mat-button>Gaseste tutore</a>
  </div>

  <div fxFlex.gt-sm="1 1 40" fxHide.lt-md="true" fxLayoutAlign="end">

    <ng-template [ngIf]="!authenticationManager.isAuthenticated()">
      <a [routerLink]="['/']" mat-raised-button>Posteaza anunt</a>
      <a [routerLink]="['/login']" mat-button>Autentificare</a>
    </ng-template>

    <ng-template [ngIf]="authenticationManager.isAuthenticated()">
      <a [routerLink]="['/profile']" mat-button>Profilul meu</a>
    </ng-template>
  </div>

  <div fxHide="true" fxShow.lt-md="true">
    <mat-icon>more_vert</mat-icon>
  </div>
</nav>
