<div class="main-content">
  <div class="one-column" fxFlex="1 1" fxLayout="column" fxLayoutGap="20px">
    <h2>Inregistrare</h2>
    <form [formGroup]="registerFormGroup" fxLayout="column">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parola</mat-label>
        <input formControlName="password" matInput type="password"/>
      </mat-form-field>

      <div fxFlex="" fxFlexAlign="end">
        <button (click)="onSubmit()" color="primary" mat-flat-button>Trimite</button>
      </div>
    </form>
    <div class="register-subtitle">Imediat dupa inregistrare, vei avea acces la propriul profil de tutor </div>
  </div>
</div>
